
.container {
    position: relative;
    flex: 1;
    background-color:cornflowerblue;
    overflow: hidden;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.exitButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgb(38, 69, 245);
    padding: .5rem;
    border-radius: .5rem;
    font-size: medium;
    color: white;
    margin-bottom: 1rem;
}

.exitButton:hover {
    background-color: rgb(127, 127, 245);
    cursor: pointer;
}

.gameCode {
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.startButton {
    position: absolute;
    background-color: rgb(38, 69, 245);
    padding: 1rem;
    border-radius: .5rem;
    font-size: 35px;
    font-weight:bold;
    color: white;
}

.startButton:hover {
    background-color: rgb(127, 127, 245);
    cursor: pointer;
}

.uiText {
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-weight: 500;
}

.ichiButton {
    position: absolute;
    background-color: rgb(186, 19, 242);
    padding: 1rem;
    border-radius: .5rem;
    font-size: x-large;
    color: white;
    margin-bottom: 1rem;
}

.ichiButton:hover {
    background-color: rgb(171, 114, 190);
    cursor: pointer;
}

.fade {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    z-index: 100;
}

.colorModal {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
}

.colorModalHeader {
    font-size: x-large;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.redModalButton {
    font-size: large;
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.redModalButton:hover {
    background-color: rgb(247, 103, 103);
}

.blueModalButton {
    font-size: large;
    background-color: blue;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.blueModalButton:hover {
    background-color: rgb(114, 114, 235);
}

.greenModalButton {
    font-size: large;
    background-color: green;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.greenModalButton:hover {
    background-color: rgb(79, 190, 79);
}

.yellowModalButton {
    font-size: large;
    background-color: rgb(255, 174, 0);
    color: white;
    cursor: pointer;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.yellowModalButton:hover {
    background-color: rgb(253, 211, 119);
}